div#edit {
	form {
		fieldset {
			border: 1px gray solid;
			margin-bottom: 10px;
			border-radius: 5px;
			box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
			legend {
				margin-left: 10px;
				font-weight: bold;
			}
		}
	}
}


div#main {
	padding: 0;
	margin: 0;
	div.view {
		padding: 0;
		margin: 0;
		div.jobs {
			column-count: 4;
			column-gap: 0;
			column-span: 1;
			column-width: 100%;
			padding: 0;
			margin: 0;
			div.job {
				width: 95%;
				display: inline-block;
				font-size: 18px;
				padding: 0;
				margin: 5px;
				p {
					margin: 5px;
					image {
						text-align: left;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}
			}
			div.job.red {
				p {
					a {
						text-decoration: none;
						color: red;
					}
				}
			}
		}
	}
}