div.view {
	width: 100%;
	div.jobs {
		column-count: 4;
		div.job {
			display: inline-block;
			border: 1px solid black;
			width: 100%;
			margin: 1px;
			font-size: 18px;
		}
		div.job.red {
			
			background-color: red;
		}
	}
}