%form(method='post' action='/configure')
	%fieldset(id='sources')
		%legend Select sources
		%p
			- source_selection(@sources,@client.view.sources)
	%fieldset(id='filters')
		%legend Include
		%p
			- checkbox_helper('filter_aborted','filter',@client.view.filter_aborted,'Aborted Jobs')
			- checkbox_helper('filter_active','filter',@client.view.filter_active,'Active Jobs')
			- checkbox_helper('filter_disabled','filter',@client.view.filter_disabled,'Disabled Jobs')
			- checkbox_helper('filter_failed','filter',@client.view.filter_failed,'Failing Jobs')
			- checkbox_helper('filter_succeeded','filter',@client.view.filter_succeeded,'Successful Jobs')
			- checkbox_helper('filter_unstable','filter',@client.view.filter_unstable,'Unstable Jobs')
	%fieldset(id='sort')
		%legend Sort
	%input(type='submit' value="Configure" class="button")