- content_for :header do
	%p= link_to 'Back','/',:class => 'button'
- content_for :edit do
	%form(method='post')
		%p
			%label(for='views')Choose views: 
			%select(name='views' multiple)
				- options_helper(@views,@client.views)
			= link_to 'Create a view', "/views/add/#{@client.ip}", :class => 'button'
			%p.test2
				%input(type='submit' value="send" class="button")
%content
	This is a test