%div.header
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.row
  %div.logo
    %h1
      Radiator
  %div.info
    %div#clock
      (unset)
    %p
      = @client.ip
      |
      = @client.host