- content_for :header do
	%p
		= @client.host
		|
		= link_to 'Switch', '/switch', :class => 'button'
#main(class='content')
	%h1= escape_once @client.ip.inspect
	%p
		%pre
			= escape_once @client.inspect
