!!! 5
%html
	%head
		%title Radiator
		= stylesheet_link_tag 'css/screen.css', 'css/logo.css', 'css/view.css', 'css/south-street/jquery-ui-1.10.1.custom.min.css', 'css/prettyCheckboxes.css'
		= javascript_script_tag 'js/prefixfree.min.js', 'js/jquery-1.9.1.js', 'js/jquery-ui-1.10.1.custom.min.js', 'js/jquery.pjax.js', 'js/clock.js', 'js/updater.js', 'js/jquery.marquee.js', 'js/prettyCheckboxes.js'
	%body(class='bp')
		%div#header
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row
			%div.row		  
			%div#logo
				%h1 
					Radiator
			%div#info
				%div#clock
					(unset)
				= yield_content :header
		=yield