/* line 1, ../../views/stylesheets/logo.scss */
div#header {
  height: 65px;
  width: 100%;
  min-height: 65px;
  padding: 5px;
  background: yellow;
  background: linear-gradient(320deg, #10fef0, #ffffa3, #ffffa3);
  border-bottom: 2px solid silver;
  box-shadow: 2px 2px 4px 1px rgba(20, 20, 20, 0.5);
}
/* line 10, ../../views/stylesheets/logo.scss */
div#header div.row {
  background: #f06;
  background: linear-gradient(120deg, #c0c0c0, #808080);
  min-height: 55px;
  width: 3px;
  height: 55px;
  padding: 2px;
  margin: 2px;
  border-radius: 8px;
  float: left;
  box-shadow: 2px 2px 4px 1px #141414;
}
/* line 22, ../../views/stylesheets/logo.scss */
div#header div#logo {
  color: #404040;
  font-family: helvetica, ariel, sans-serif;
  padding-left: 10px;
  float: left;
  font-size: 18pt;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.5);
  filter: dropshadow(color=rgba(20, 20, 20, 0.5), offx=2, offy=2);
}
/* line 30, ../../views/stylesheets/logo.scss */
div#header div#logo h1 {
  margin-bottom: 0;
}
/* line 34, ../../views/stylesheets/logo.scss */
div#header div#info {
  font-family: helvetica, ariel, sans-serif;
  font-size: smaller;
  color: #404040;
  margin: 5px;
  padding: 5px;
  float: right;
}
/* line 41, ../../views/stylesheets/logo.scss */
div#header div#info div#clock {
  font-family: helvetica, ariel, sans-serif;
  font-size: 26pt;
  line-height: 25pt;
  text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.5);
  filter: dropshadow(color=rgba(20, 20, 20, 0.5), offx=2, offy=2);
}
/* line 48, ../../views/stylesheets/logo.scss */
div#header div#info a {
  color: white;
}
